.foot {
    height: 60px;
    background-color: #36383f;
    color: white;
    display: flex;
}

.foot > .foot-info {
    flex: 25%;
    border: 1px solid #676767;
    text-align: center;
    padding-top: 15px;
}

.foot > .foot-info span {
    font-size: 1.4em;
    font-weight: bold;
}